# Discord bot token
# https://discordjs.guide/preparations/setting-up-a-bot-application.html#your-bot-s-token
TOKEN="enter your discord bot token here"

# Discord server ID (aka "Guild ID")
# To get guild id, open Discord and go to your settings. On the "Advanced" page,
# turn on "Developer Mode". This will enable a "Copy ID" button in the context
# menu when you right-click on a server icon, a user's profile, etc. 
GUILD_ID="enter your guild id here"

# Mongo db connection string, ex: "mongodb://<host>:<port>/<database>"
DATABASE_URL="mongodb://localhost:27017/test"

