[Unit]
Description=Z2S Bot File
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/start.sh

[Install]
WantedBy=multi-user.target
